* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  border-color: #ff2aa6;
  background: #ff2aa6;
  transition: 1s;
}
.btn:hover {
  background: #fcf9f9;
  color: #ff2aa6;
  border-color: #ff2aa6;
}

.join-us-button {
  width: 180px;
}

.contact-button {
  margin-top: 0.5rem;
  width: 180px;
}

.join-us {
  font-weight: 300;
  text-align: center;
  padding: 4rem 1.5rem;
}
.join-us p {
  padding-bottom: 1rem;
}

#company-information {
  padding-bottom: 5rem;
}
#company-information .ui-accordion-header {
  padding: 1rem 2rem;
  margin: 0;
  font-weight: 600;
  cursor: pointer;
  transition: 1s;
}
#company-information .ui-accordion-header:hover {
  color: #fcf9f9;
}
#company-information .ui-accordion-header-active {
  background: #ff6ec3;
}
#company-information .ui-accordion-header-collapsed:hover {
  background: #ffc5e7;
}
#company-information .ui-accordion-content {
  background: #f3eaea;
  font-weight: 300;
  padding: 1rem 2rem;
}

.contact-form div {
  padding: 0.5rem;
}

.contact-input {
  background: #fffcfb;
}

.brands-grid {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  justify-content: center;
}
.brands-grid .card {
  background: #fcf9f9;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.brands-grid .card .card-body {
  display: none;
}
.brands-grid .card:hover .card-img-top {
  display: none;
}
.brands-grid .card:hover .card-body {
  display: inline;
}

@media screen and (min-width: 1024px) {
  #company-information {
    text-align: center;
  }
  .brands-grid {
    grid-template-columns: 420px 420px;
  }
  .brands-grid .card .card-body {
    display: inline;
  }
  .brands-grid .card:hover .card-img-top {
    display: block;
  }
}
@media screen and (min-width: 1600px) {
  .brands-grid {
    grid-template-columns: 420px 420px 420px;
  }
}
body {
  background: #fcf9f9;
  display: grid;
  justify-content: center;
}

.main-container {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  max-width: 2560px;
}
.main-container header {
  height: 4.5rem;
  padding: 2rem;
}
.main-container main {
  line-height: 1.25;
}
.main-container footer {
  position: absolute;
  bottom: 0;
  padding: 2rem;
}/*# sourceMappingURL=main.css.map */