#company-information {
    padding-bottom: 5rem;

    .ui-accordion-header {
        padding: 1rem 2rem;
        margin: 0;
        font-weight: fontWeight(bold);
        cursor: pointer;
        transition: 1s;

        &:hover {
            color: $main-color;
        }

        &-active {
            background: $active-header-color;
        }

        &-collapsed {
            &:hover {
                background: $header-hover-color;
            }
        }
    }

    .ui-accordion-content {
        background: $background-color;
        font-weight: fontWeight(light);
        padding: 1rem 2rem;
    }
}