.btn {
    border-color: $button-color;
    background: $button-color;
    transition: 1s;

    &:hover {
        background: $main-color;
        color: $button-color;
        border-color: $button-color;
    }
}

.join-us-button {
    width: 180px;
}

.contact-button {
    margin-top: 0.5rem;
    width: 180px;
}