@media screen and (min-width: 1024px) {
    $cardContentHidden: false;

    #company-information {
        text-align: center;
    }

    .brands-grid {
        grid-template-columns: 420px 420px;

        .card {
            .card-body {
                display: inline;
            }

            &:hover {
                .card-img-top {
                    display: block;
                }
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    .brands-grid {
        grid-template-columns: 420px 420px 420px;
    }
}