.brands-grid {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    justify-content: center;

    .card {
        background: $main-color;
        padding: 1rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

        .card-body {
            display: none;
        }

        &:hover {
            .card-img-top {
                display: none;
            }

            .card-body {
                display: inline;
            }
        }
    }
}