$main-color: #fcf9f9;
$background-color: #f3eaea;
$active-header-color: #ff6ec3;
$header-hover-color: #ffc5e7;
$button-color: #ff2aa6;
$input-field-color: #fffcfb;

$font-weights: (
    "light": 300,
    "normal": 400,
    "bold": 600
);

@function fontWeight($weight-name) {
    @return map-get($font-weights, $weight-name);
}