@import './resets';
@import './variables';
@import './buttons';
@import './join';
@import './accordion';
@import './contact';
@import './portfolio';
@import './interactive';

body {
    background: $main-color;
    display: grid;
    justify-content: center;
}

.main-container {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    max-width: 2560px;

    header {
        height: 4.5rem;
        padding: 2rem;
    }

    main {
        line-height: 1.25;
    }

    footer {
        position: absolute;
        bottom: 0;
        padding: 2rem;
    }
}
